@{
    ViewData["Title"] = "Dance Tracker";
}

<div class="text-center">
    <h1 class="display-4">DANCE TRACKER</h1>
    <h1 class="display-4">Personal Database</h1>
    <div>
        <div class="optionList">
            <div class="optionItem"><a href="~/Events/Index">Events Attended</a></div>
            <div class="optionItem"><a href="~/Comps/Index">Competitions</a></div>
            <div class="optionItem"><a href="~/LessonsWorkshops/Index">Lessons and Workshops</a></div>
        </div>
    </div>
</div>